<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

  <!-- Google Analytics -->
  <script async src='https://www.googletagmanager.com/gtag/js?id=UA-108824572-4'></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-108824572-4');
  </script>

  <!-- Favicons -->
  <link rel='apple-touch-icon' sizes='180x180' href='/static/favicons/apple-touch-icon.png'>
  <link rel='icon' type='image/png' sizes='32x32' href='/static/favicons/favicon-32x32.png'>
  <link rel='icon' type='image/png' sizes='16x16' href='/static/favicons/favicon-16x16.png'>
  <link rel='manifest' href='/static/favicons/site.webmanifest'>
  <link rel='mask-icon' href='/static/favicons/safari-pinned-tab.svg' color='#4d9c2d'>
  <link rel='shortcut icon' href='/static/favicons/favicon.ico'>
  <meta name='msapplication-TileColor' content='#4d9c2d'>
  <meta name='msapplication-config' content='/static/favicons/browserconfig.xml'>
  <meta name='theme-color' content='#ffffff'>

  <!-- External Libraries -->
  <link rel='stylesheet' href='https://georgeyu.oss-cn-shanghai.aliyuncs.com/libraries/bootstrap/bootstrap.min.css'>
  <link rel='stylesheet' href='https://georgeyu.oss-cn-shanghai.aliyuncs.com/libraries/fontawesome/css/all.min.css'>
  <script src='https://georgeyu.oss-cn-shanghai.aliyuncs.com/libraries/jquery/jquery.min.js'></script>
  <script src='https://georgeyu.oss-cn-shanghai.aliyuncs.com/libraries/bootstrap/bootstrap.min.js'></script>
  
  {% block styles %}
    <link rel='stylesheet' href='{{ url_for("static", filename="styles/main.css") }}'>
  {% endblock %}

  <title>{% block title %}{% endblock %} | YKPS &rsquo;20</title>
</head>

<body>

  <nav class='navbar navbar-fixed-top navbar-light bg-light justify-content-between'>
    <div class='container pr-0'>
      <a class='navbar-brand mb-0 h1' href='/'>YKPS &rsquo;20</a>
      {% if current_user.is_authenticated %}
        <div class='dropdown'>
          <a class='btn dropdown-toggle' id='dropdown-btn' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            {{ current_user.student.get_id_name()[1] }}
          </a>
          <div class='dropdown-menu' aria-labelledby='dropdown-btn'>
            <a class='dropdown-item' href='/logout'>Logout</a>
          </div>
        </div>
      {% else %}
        <a href='/login' class='btn'>Login</a>
      {% endif %}
    </div>
  </nav>

  <div class='container'>
    {% block body %}{% endblock %}
  </div>

</body>

{% block scripts %}{% endblock %}

</html>
