<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

  <!-- External Libraries -->
  <link rel='stylesheet' href='https://georgeyu.oss-cn-shanghai.aliyuncs.com/libraries/bootstrap/bootstrap.min.css'>
  <link rel='stylesheet' href='https://georgeyu.oss-cn-shanghai.aliyuncs.com/libraries/fontawesome/css/all.min.css'>
  <script src='https://georgeyu.oss-cn-shanghai.aliyuncs.com/libraries/jquery/jquery.min.js'></script>
  <script src='https://georgeyu.oss-cn-shanghai.aliyuncs.com/libraries/bootstrap/bootstrap.min.js'></script>
  
  {% block styles %}
    <link rel='stylesheet' href='{{ url_for("static", filename="styles/main.css") }}'>
  {% endblock %}

  <title>{% block title %}{% endblock %} | YKPS &rsquo;20</title>
</head>

<body>

  <nav class='navbar navbar-fixed-top navbar-light bg-light justify-content-between'>
    <div class='container'>
      <a class='navbar-brand mb-0 h1' href='/'>YKPS &rsquo;20</a>
      {% if current_user.is_authenticated %}
        <div class='dropdown'>
          <a class='btn dropdown-toggle' id='dropdown-btn' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            {{ current_user.student.get_id_name()[1] }}
          </a>
          <div class='dropdown-menu' aria-labelledby='dropdown-btn'>
            <a class='dropdown-item' href='/logout'>Logout</a>
          </div>
        </div>
      {% else %}
        <a href='/login' class='btn'>Login</a>
      {% endif %}
    </div>
  </nav>

  <div class='container'>
    {% block body %}{% endblock %}
  </div>

</body>

{% block scripts %}{% endblock %}

</html>
