{% extends 'base.min.html' %}
{% block title %}Dashboard{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel='stylesheet' href='{{ url_for("static", filename="styles/dashboard.min.css") }}'>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src='{{ url_for("static", filename="scripts/dashboard.min.js") }}'></script>
{% endblock %}

{% block body %}
  <div class='main-content-container'>
    <h1>Dashboard</h1>
    <p class='text-muted'>This platform will remain open for a short period of time. You may still add, edit, and delete messages for now.</p>
    <a href='/message/new' class='btn btn-outline-primary' role='button'><i class='fal fa-plus mr-2' aria-hidden='true'></i>Draft New Message</a>
    {% if messages %}
      <div class='mt-5'>
        {% for message in messages %}
          <div class='message card d-inline-block mb-4'>
            <div class='card-body'>
              <h5 class='card-title'>{{ message.recipient.get_id_name()[1] }}</h5>
              <p class='card-text'>{{ message.content }}</p>
              <div class='card-links-container' data-message-id='{{ message.id }}' data-message-recipient='{{ message.recipient.get_id_name()[1] }}'>
                <a href='/message/edit/{{ message.id }}' class='card-link text-secondary'><i class='far fa-edit mr-2' aria-hidden='true'></i>Edit</a>
                <a href='#' class='card-link text-danger ml-3 ml-lg-2 ml-xl-3' data-toggle='modal' data-target='#delete-message-confirm-modal'><i class='far fa-trash-alt mr-2' aria-hidden='true'></i>Delete</a>
                {% if message.is_anonymous %}
                <span class='anonymous-icon' data-toggle='tooltip' data-placement='top' title='Anonymous Message'><i class='far fa-mask' aria-hidden='false'></i></span>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class='col-12 col-md-10 col-lg-8 col-xl-6 mt-4 p-0'>
        <p class='text-muted'>You haven&rsquo;t drafted any message yet! Click the <strong>&ldquo;Draft New Message&rdquo;</strong> button above to start drafting a message to someone.</p>
      </div>
    {% endif %}

    <div class='modal fade' id='delete-message-confirm-modal' tabindex='-1' role='dialog' aria-labelledby='delete-message-confirm-label' aria-hidden='true'>
      <div class='modal-dialog' role='document'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h5 class='modal-title' id='delete-message-confirm-label'>Delete Message</h5>
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
            </button>
          </div>
          <div class='modal-body'></div>
          <div class='modal-footer'>
            <button type='button' class='btn btn-outline-secondary' data-dismiss='modal'>Cancel</button>
            <button type='button' id='confirm-delete-message-button' class='btn btn-danger'>Delete</button>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
