{% extends 'base.html' %}
{% block title %}Edit Message{% endblock %}

{% block styles %}
  {{ super() }}
{% endblock %}
{% block scripts %}
  {{ super() }}
{% endblock %}

{% block body %}
  <div class='main-content-container'>
    <div>
      <a href='/dashboard' class='head-back-button position-absolute text-secondary'><i class='far fa-angle-left mr-1' aria-hidden='true'></i>Dashboard</a>
      <h1 class='mb-3'>Edit Message</h1>
    </div>

    <form action='' method='POST' class='row mt-4'>
      {{ form.hidden_tag() }}
      <div class='col-12 col-md-10 col-lg-8 col-xl-6'>
        <div class='form-group'>
          {{ form.recipient_id.label }} {{ form.recipient_id(class_='form-control') }}
        </div>
        <div class='form-group'>
          {{ form.content.label }} {{ form.content(class_='form-control', rows='6') }}
        </div>
        <div class='form-group'>
          <div class='form-check'>
            {{ form.is_anonymous(class_='form-check-input') }} {{ form.is_anonymous.label(class_='form-check-label') }}
            <br>
            <a href='#' data-toggle='modal' data-target='#anonymity-modal'><small>Learn More <i class='far fa-angle-right mr-1' aria-hidden='true'></i></small></a>
          </div>
        </div>
        <div class='mt-4'>
          <button type='submit' class='btn btn-primary'>Save Message</button>
        </div>
      </div>
    </form>

    <div class='modal fade' id='anonymity-modal' tabindex='-1' role='dialog' aria-labelledby='anonymity-label' aria-hidden='true'>
      <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h5 class='modal-title' id='anonymity-label'>Message Anonymity</h5>
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
            </button>
          </div>
          <div class='modal-body'>
            <p>We promise that no one&mdash;including members of the Grad Book team&mdash;can identity the author of any message that is anonymous. Therefore, rest assured that your anonymous messages will be kept anonymous forever unless you decide to reveal it some point in the future.</p>
            <p></p>
            <h4>Technical Details</h4>
            <p>The anonymity of messages is guaranteed not only by the moral standards of our team members, but also by the implementation of the anonymous system, and more specifically, <strong><em>hash functions</em></strong>.</p>
            <p>A hash function is a function which takes a certain input and outputs an obfuscated and seemingly random string of characters based on that input. As an example, below are a few input-output pairs using the hash function <code>MD5</code>:</p>
            <pre class='ml-0 ml-lg-4'><code>MD5('ykps') = '9af8d31519204e2ecf1648de309d4c0a'
MD5('2020') = '7b7a53e239400a13bd6be6c91c4f6c4e'
MD5('2021') = '05a5cf06982ba7892ed2a6d38fe832d6'</code></pre>
            <p>While it seems like the output of a hash function is random, it is actually not: a hash function is a completely deterministic function which follows a strict algorithm to generate the output using the input. That is to say, the same input will always produce the same output when hashed using the same hash function. Yet, it is worth pointing out that the hash function being used by us is input-sensitive; in other words, a tiny change in the input will result in a dramatically difference output.</p>
            <p>But that&rsquo;s nothing special, all deterministic functions have this property. What makes a hash function special is its <strong><em>irreversibility</em></strong> property: given an input, we can easily hash it to produce the output; yet, given a hashed string, it is nearly impossible to find the corresponding input.</p>
            <p>The anonymous system is built exactly on top of these properties. If you decide to make one of your messages anonymous, then your student ID will no longer be stored as the author of that message; instead, a hashed version of your student ID will be stored. Therefore, due to the sensitivity and irreversibility of the hash function, it is impossible to deduce the author based on that hashed string. Moreover, when you want to retrieve all the messages you have written, the app can compare your hashed student ID against the entries stored, and due to the deterministic property, will be able to find exactly which messages are written by you.</p>
          </div>
          <div class='modal-footer'>
            <button type='button' class='btn btn-outline-secondary' data-dismiss='modal'>Done</button>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
