body {
    padding-bottom: 80px;
}

h1 {
    font-weight: bold;
}


.main-content-container {
    margin-top: 60px;
}

.head-back-button {
    margin-top: -1.5rem;
}

.logo {
    background: url(/static/misc/logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar-brand.logo {
    width: calc(25px * 1000 / 163.861);
    height: 25px;
}


/* .anonymous-check-box {
    display:none;
}

.anonymous-check-box + label:before {
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 1.25rem;
    content: '\f21b';
}

.anonymous-check-box:checked + label:before {
    content: '\f21b';
} */


/* (Only) Extra Small Devices */

@media (max-width: 576px) {

    .nav-content-container {
        padding-left: 0;
    }

}

/* Medium Devices */

@media (min-width: 768px) {

    .main-content-container {
        margin-top: 100px;
    }

}
