body {
    padding-bottom: 80px;
}

h1 {
    font-weight: bold;
}


.main-content-container {
    margin-top: 100px;
}

.head-back-button {
    margin-top: -1.5rem;
}

/* Message Cards */

.message {
    vertical-align: top;
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.04);
    transition: box-shadow 150ms ease;
}

.message:hover {
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.08);
}

.message .card-title,
.message .card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.message .card-links-container {
    position: absolute;
    bottom: 1rem;
    transition: opacity 150ms ease;
}

.message:hover .card-links-container {
    opacity: 1;
}

.message-content.blockquote {
    font-size: 1rem;
}

.message-content.blockquote .blockquote-body,
.message-content.blockquote .blockquote-footer {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


/* .anonymous-check-box {
    display:none;
}

.anonymous-check-box + label:before {
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 1.25rem;
    content: '\f21b';
}

.anonymous-check-box:checked + label:before {
    content: '\f21b';
} */
