body {
    padding-bottom: 80px;
}

h1 {
    font-weight: bold;
}


.main-content-container {
    margin-top: 60px;
}

.head-back-button {
    margin-top: -1.5rem;
}

.logo {
    background-image: url(/static/misc/logo-compact.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar-brand.logo {
    width: calc(25px * 2.07361);
    height: 25px;
}


/* (Only) Extra Small Devices */

@media (max-width: 576px) {

    .nav-content-container {
        padding-left: 0;
    }

}

/* Medium Devices */

@media (min-width: 768px) {

    .main-content-container {
        margin-top: 100px;
    }

    .logo {
        background-image: url(/static/misc/logo.svg);
    }

    .navbar-brand.logo {
        width: calc(25px * 6.10277);
        height: 25px;
    }

}
