/* Extra Small Devices */

.feedback {
    width: 100%;
    height: 162px;
}

.feedback .card-title {
    -webkit-line-clamp: 1;
}

.feedback .card-text {
    -webkit-line-clamp: 2;
}

/* Medium Devices */

@media (min-width: 768px) {

    .feedback {
        width: calc(50% - 0.8672rem);
        height: 208px;
    }

    .feedback:not(:nth-child(2n)) {
        margin-right: 1.5rem;
    }

    .feedback .card-title {
        -webkit-line-clamp: 2;
    }

    .feedback .card-text {
        -webkit-line-clamp: 3;
    }

}

/* Large Devices */

@media (min-width: 992px) {

    .feedback {
        width: calc(25% - 1.3018rem);
        height: 232px;
    }

    .feedback:not(:nth-child(4n)) {
        margin-right: 1.5rem;
    }

    .feedback .card-title {
        -webkit-line-clamp: 2;
    }
    
    .feedback .card-text {
        -webkit-line-clamp: 4;
    }

}
